* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    overflow-x: hidden;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: plum;
    width: 20%;
    text-align: center;
    padding: 2vw;
    margin: 1vw;
    border-radius: 5vw;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
}

.box:nth-of-type(odd) {
    transform: translateX(400%);
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}